<center class="container">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  <h1 class="text-muted">Enter URL</h1>
  </br>
  <form class="w-50 form-group" action="shortened_urls/create", method="post">
    <input id="url_from_web", class="form-control", type="text", value="", name="original_url"></br>
    <input type="submit" value="Submit" class="btn btn-primary btn-lg">
  </form>
  </div>
</center>